# exclude everything for directories and specials

drafts/**

# Why archive?
archives/**

# creator files
mydocs/**
.todo
.idea

# managed seperatly
wiki/**

test/tmp
testarea/**
*~
*#
.#*
\#*#
*.un~
*.tmp
*.bk
*.bkup

#connect/**  
