# exclude everything for directories and specials

drafts/**

# Why archive?
archives/**

# creator files
mydocs/**
*.todo
*.idea

# managed seperatly
wiki/**

test/tmp
testarea/**
*~
*#
.#*
\#*#
*.un~
*.tmp
*.bk
*.bkup

#connect/**

# Node
.DS_Store
node_modules
npm-debug.log

## fonfontawesome-free-6.1.1-web
## can be downloads from https://fontawesome.com/docs/web/setup/host-yourself/webfonts
##
public/fontawesome-free-6.1.1-web
